<div class="article-list-container">
  <article *ngFor="let item of articlesList$ | async"  class="c-card">  
      <header class="c-card__header">
        <div class="c-card__image" [ngStyle]="{'background-image':'url('+_getURL(item._source.images)+')'}" alt="Card Image" ></div>
      </header>
      <div class="c-card__body">
        <h2 class="c-card__title">
          {{item._source.headline}}
        </h2>
        <p class="c-card__subtitle">
            sub
        </p>
        
        <p class="c-card__intro">
            {{ _substringBody(item._source.body) }}
        </p>
        
      </div>
    
  </article>
</div>
