<div>
  <div class="article">
    <div class="article_InnerContainer">
      <div class="article_price">$500,000</div>
      <div class="article_street">693 CR #572 Rd</div>
      <div class="article_location">Gardner, CO</div>
      <div class="article_metadata_container">
          <span class="article_metadata">
              <img src="../../../assets/images/bed.svg" alt="">
              2 Beds
            </span>
            <span class="article_metadata">
                <img src="../../../assets/images/Bathroom.svg" alt="">
              1 baths
            </span>
            <span class="article_metadata">
                <img src="../../../assets/images/squareft.svg" alt="">
              2 sq Ft
            </span>
      </div>
    </div>
    <span class="tag">
      For sale
    </span>
  </div>
  <div class="article">
      <div class="article_InnerContainer">
        <div class="article_price">$500,000</div>
        <div class="article_street">693 CR #572 Rd</div>
        <div class="article_location">Gardner, CO</div>
        <div class="article_metadata_container">
            <span class="article_metadata">
                <img src="../../../assets/images/bed.svg" alt="">
                2 Beds
              </span>
              <span class="article_metadata">
                  <img src="../../../assets/images/Bathroom.svg" alt="">
                1 baths
              </span>
              <span class="article_metadata">
                  <img src="../../../assets/images/squareft.svg" alt="">
                2 sq Ft
              </span>
        </div>
      </div>
      <span class="tag">
          For sale
        </span>
    </div>
    <div class="article">
        <div class="article_InnerContainer">
          <div class="article_price">$500,000</div>
          <div class="article_street">693 CR #572 Rd</div>
          <div class="article_location">Gardner, CO</div>
          <div class="article_metadata_container">
              <span class="article_metadata">
                  <img src="../../../assets/images/bed.svg" alt="">
                  2 Beds
                </span>
                <span class="article_metadata">
                    <img src="../../../assets/images/Bathroom.svg" alt="">
                  1 baths
                </span>
                <span class="article_metadata">
                    <img src="../../../assets/images/squareft.svg" alt="">
                  2 sq Ft
                </span>
          </div>
        </div>
        <span class="tag">
            For sale
          </span>
      </div>
</div>