<div>
  <div class="article">
    <div class="article_InnerContainer">
      <div class="article_price">$500,000</div>
      <div class="article_metadata">693 CR #572 Rd</div>
      <div class="article_location">Gardner, CO</div>
    </div>
    <span class="tag">
      For sale
    </span>
  </div>
  <div class="article">
      <div class="article_InnerContainer">
        <div class="article_price">$500,000</div>
        <div class="article_metadata">693 CR #572 Rd</div>
        <div class="article_location">Gardner, CO</div>
      </div>
      <span class="tag">
          For sale
        </span>
    </div>
    <div class="article">
        <div class="article_InnerContainer">
          <div class="article_price">$500,000</div>
          <div class="article_metadata">693 CR #572 Rd</div>
          <div class="article_location">Gardner, CO</div>
        </div>
        <span class="tag">
            For sale
          </span>
      </div>
</div>
