<div class="property-list-container">
  <div *ngFor="let item of propertiesList$ | async" [ngStyle]="{'background-image':'url('+item._source.photos[0]+')'}" class="article">
    <div class="article_InnerContainer">
      <div class="article_price">${{item._source.list_price}}</div>
      <div class="article_street">{{item._source.address.full_street_address}}</div>
      <div class="article_location">{{item._source.address.city}}</div>
      <div class="article_metadata_container">
          <!-- <span class="article_metadata">
              <img src="../../../assets/images/bed.svg" alt="">
              2 Beds
            </span> -->
            <span class="article_metadata">
                <img src="../../../assets/images/Bathroom.svg" alt="">
              {{item._source.bathrooms}} baths
            </span>
            <span class="article_metadata">
                <img src="../../../assets/images/squareft.svg" alt="">
                {{item._source.living_area.area}} {{item._source.living_area.units}}
            </span>
      </div>
    </div>
    <span class="tag">
      For sale
    </span>
  </div>
</div>