<div fxFlex class="social-class">
    <h5>Social Profiles</h5>
    <a class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i> Facebook
    </a>
    <a class="btn btn-block btn-social btn-linkedin">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>
    <a class="btn btn-block btn-social btn-twitter">
      <i class="fa fa-twitter"></i> Twitter
    </a>
    <a class="btn btn-block btn-social btn-github">
        <i class="fa fa-github"></i> Website
      </a>
    <a class="btn btn-block btn-social btn-vk">
      <i class="fa fa-envelope"></i> Email
    </a>
  </div>