<div fxLayout="column">
  <div fxFlex>
    <app-profile-header></app-profile-header>
  </div>
  <div fxFlex fxLayout="column">
    <div [fxFlex.xs]="100" fxFlex="30" fxLayout.xs="column" fxLayout="row">
      <div  [fxFlex.xs]="100" [fxFlex.lg]="30">
        <app-social-profile-list></app-social-profile-list>
      </div>
      <div fxFlex>
        <app-property-list></app-property-list>
      </div>
    </div>
    <div fxFlex>
      <app-article-list></app-article-list>
    </div>
  </div>
</div>