<div fxLayout="row">
  <div class="profile-header-container">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100px">
  </div>
  <div fxFlex fxLayoutAlign="center start" fxLayout="column">
    <div>
   Edax
    </div>
    <div>
        sdasda
    </div>
    <div>
        <i class="fa fa-map-marker"></i> Los angeles
    </div>
  </div>
  <div fxLayoutAlign="end center" fxLayout="row" fxFlex="30">
    <div fxFlex>
        <button type="button" class="btn btn-light btn-round-xs btn-xs">Message</button>
    </div>
    <div fxFlex>
        <button type="button" class="btn btn-dark btn-round-xs btn-xs">Call now</button>
    </div>
  </div>
</div>