<div fxLayout.xs="column" fxLayout="row">
  <div fxFlex="60" fxLayout="row">
    <div style="padding-left: 40px;" fxFlex="15" [fxFlex.xs]="40" class="profile-header-container">
      <img src="{{profile.avatar}}" alt="Avatar" style="width:100px">
    </div>
    <div fxFlex fxLayoutAlign="center start" fxLayout="column">
      <div>
        {{profile.full_name}}
      </div>
      <div>
          {{profile.company_name}}
      </div>
      <div>
        <i class="fa fa-map-marker"></i> {{profile.area_served}}
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column"  fxFlex="40" [fxFlex.xs]="100">
    
      <button type="button" (click)="_profileButtonClicked('message')" class="btn btn-light btn-round-xs btn-xs">Message</button>
    
      <button type="button" (click)="_profileButtonClicked('Call Now')" class="btn btn-dark btn-round-xs btn-xs">Call now</button>
   
  </div>
</div>